{% extends 'app/base_logeada.html'%}
{% load static %}
{% block contenido_iniciado %}



<main class="main">
  <div class="container">
    <h2>Seguimiento De Compra</h2>
    <section class="container-fluid">
      <div class="progreso-bar pb-5">
        <div class="progress" style="height:50px">
          <div class="progress-bar" style="width:50%;height:50px">
          <h5>Producto en camino</h1>
          </div>
        </div>
        <div class="descripcion-bar pt-5">
          <form class="form-inline" action="/action_page.php">
            <input class="form-control mr-sm-3" type="text" placeholder="Colocar codigo">
            <button class="btn btn-success" type="submit">Buscar</button>
          </form>
        </div>

      </div>

      <div class="products-seguimiento">
        <!-- .products*4>img.products_img+.productdescription>h3.producttitle+span.producto_price -->

        <img src="img/Alimento-perro-raza-mediana-y-grande-8-kg.png" alt="" class="products__img" width="200px">
        <div class="product__description-seguimiento">
          <h3 class="product__titulo">Comida Dog Chow</h3>
          <h5 class="product__precio">$9990</h5>
        </div>
        <button type="button" class="btn btn-danger">Eliminar Producto</button>
      </div>
      <div class="products-seguimiento">
        <img src="img/Alimento-seco-gato-adulto-carne-3-kg.webp" alt="" class="products__img" width="200px">
        <div class="product__description-seguimiento">
          <h3 class="product__titulo">Comida Whiskas</h3>
          <h5 class="product__precio">$9990</h5>
        </div>
        <button type="button" class="btn btn-danger">Eliminar Producto</button>
      </div>
      <div class="products-seguimiento">
        <img src="img/41s4oyCH7hL._SL500_.jpg" alt="" class="products__img" width="200px">
        <div class="product__description-seguimiento">
          <h3 class="product__titulo">Cama para Perro</h3>
          <h5 class="product__precio">$9990</h5>
        </div>
        <button type="button" class="btn btn-danger">Eliminar Producto</button>
      </div>
      <div class="products-seguimiento">
        <img src="img/cueva-suave-silas.jpg" alt="" class="products__img" width="200px">
        <div class="product__description-seguimiento">
          <h3 class="product__titulo">Cama para Gatos</h3>
          <h5 class="product__precio">$9990</h5>
        </div>
        <button type="button" class="btn btn-danger">Eliminar Producto</button>
      </div>

      


    </section>

  </div>

</main>

{% endblock  %}
